/* reg.css */

body {
    font-family: 'Arial', sans-serif;
    background: url('https://source.unsplash.com/1600x900/?nature,forest') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #fff;
}

.container {
    background: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 500px;
    box-sizing: border-box;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    color: #fff;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #fff;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    resize: none;
    height: 80px;
}

.input-group {
    /* display: flex; */
    justify-content: space-evenly;
    gap: 10px;
}

.input-group input[type="tel"],
.input-group input[type="email"] {
    flex: 1;
}

.radio-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}

.radio-group label {
    margin: 0;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #218838;
}

#redirectToLogin {
    background-color: #007bff;
}

#redirectToLogin:hover {
    background-color: #0069d9;
}
